html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    background-color: #f2f2f2;
    height: 100%;
}

#root {
    height: 100%;
}

.main-body {
    background-color: #c9c8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    min-height: 120px;
}

* {
    font-family: 'Dosis';
    font-weight: 500;
    letter-spacing: .06em;
}

input, div, p, h1 {
    color: #444;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: rgba(0, 0, 0, .05); 
    border-width: 1px;
}

.fade-exit {
    opacity: 0;
    transition: opacity .5s;
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity .5s;
}

