@value background: #f2f2f2;
@value panel: #ffffff;
@value error: #ff7060;
@value errorLight: #f9e7e5;
@value success: #41a33e;
@value successLight: #dbfdda;
@value primary: #51189b;
@value textMedium: #777;
@value textDark: #555;
