@value colors: './colors.module.css';
@value background from colors;
@value panel from colors;

/* local values */
@value shadow: 0px 1px 10px 2px rgba(0, 0, 0, .1);
@value shadowHeavy: 0px 1px 10px 2px rgba(0, 0, 0, .2);


.rounded {
    border-radius: 5px;
}

.lifted {
    box-shadow: shadow;
}

.modular {
    composes: rounded;
    composes: lifted;
    background-color: panel;
    padding: 20px;
}

.absolute {
    position: absolute;
    width: 100%;
}
.relative{
    position: relative;
}

.scrollable {
    width: 100%;
    max-height: 90vh;
    overflow: scroll;
}

.columned {
    display: flex;
    align-content: flex-start;
}

.rowed {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.fullwidth {
    display: flex;
    composes: modular;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    max-width: inherit;
}

.centerbox {
    composes: modular;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 350px;
    max-width: 700px;
}

.sidemenu {
    display: flex;
    composes: modular;
    width: 300px;
    height: auto;
    margin: 0px 20px 20px 20px;
    box-sizing: border-box;
    max-height: 100vh;
}

.fullheight {
    background-color: background;
    height: 100vh;
    max-height: 100vh;
}

.title {
    text-align: center;
    font-size: 28px;
    color: #444444;
    /* padding: 20px 0px 20px 0px; */
}