/* colors */
@value background from "./colors.module.css";
@value primary from "./colors.module.css";
@value error from "./colors.module.css";
@value errorLight from "./colors.module.css";
@value success from "./colors.module.css";
@value successLight from "./colors.module.css";
@value textMedium from "./colors.module.css";

/* containers */
@value shadow from "./containers.module.css";
@value shadowHeavy from "./containers.module.css";

.field input:focus, .field .submit_button:focus {
    outline: none !important;
}

.field input:focus {
    background-color: background !important;
    /* background-color: #f2f2f2 !important; */
}

.field input{
    width: 0%;
    transition: background-color .5s;
}

.field input, .field button {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    padding: 0px 0px 0px 12px;
    transition: box-shadow .6;
}

.field .submit_button {
    color: #ffffff;
    background-color: primary;
    font-weight: bold;
    transition: box-shadow .4s;
    margin: 0px 0px 0px 0px;
}

.field .submit_button:hover {
    box-shadow: shadowHeavy; 
    cursor: pointer;
}

.field {
    margin: 0px 0px 20px 0px;
}

.requirements {
    color: error;
    box-sizing: border-box;
    width: 100%;
    margin: 0px 0px 6px 12px;
}

.invalid input {
    background-color: errorLight !important;
}
.success {
    display: flex;
    color: success; 
    height: 50px;
    border-radius: 7px;
    border: none;
    transition: box-shadow .6;
    background-color: successLight !important;
    margin: 0px 0px 20px 0px;
}

.success span {
    font-size: 18px;
    text-align: center;
    margin: auto;
}