@value colors: './colors.module.css';
@value textMedium from colors;
@value textDark from colors;


.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    max-height: 80px;
}

.navitem {
    composes: medium from "./text.module.css";
    color: textMedium;
    text-decoration: none !important;
    margin: 0px 0px 0px 50px;
}

.navitem:hover {
    font-weight: bold;
    color: textDark;
}